
body{
    background-color:rgb(29, 87, 104) ;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color: cadetblue;
    text-align: center;
    text-decoration: double;
}

h3{
    text-align: center;
    color: white;
}